

    .chat {
        position: absolute;
        right: 45px;
       bottom:300px;
        font-size: 120px;
        font-weight: 400;

    }
    .icon{
        font-size: 400px;

        cursor:pointer;
    }

    .icon-img{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
   

   
